<ion-header>
  <ion-navbar>
    <ion-title>
      Color Picker
    </ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="goToSavedColors()">
          <ion-icon name="bookmark"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div id="imageDiv">
  	<!-- <img [src]="base64Image" *ngIf="base64Image" (touchstart)="onTouch($event)" (touchmove)="onTouch($event)" #imgCaptured>
    <p *ngIf="!(base64Image)" style="text-align: center">Take an Image to get started!</p> -->
    
    <img src="../../assets/imgs/puppy.jpg" (touchstart)="onTouch($event)" (touchmove)="onTouch($event)" #imgCaptured>

  	<canvas #myCanvas [hidden]="true"></canvas>

  	<div class="img-magnifier-glass" #magnifyGlass>
    
    <div #crossBox class="crossBox"></div>


    </div>
  </div>
  <br>
  <ion-item *ngIf="base64Image">
    <ion-thumbnail item-start [ngStyle]="{'background-color': 'rgb('+rgba.r+','+rgba.g+','+rgba.b+')'}">
    </ion-thumbnail>
    <!-- <h2>Red</h2> -->
    <p>{{colorName}}</p>
    <p>R: {{rgba.r}}, G: {{rgba.g}}, B: {{rgba.b}}</p>
    <p>Hex: {{hexval}}</p>
    <button ion-button item-end (click)="saveColor()">Save</button>
  </ion-item>

  

</ion-content>

<ion-footer>
  <button ion-button full (click)="getPicture()">
  <ion-icon name="camera"></ion-icon></button>
</ion-footer>







